<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>LRSearch</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <style>
        span {
            color: blue;
        }
    
        strong {
            color: red;
        }
    
        #recid {
            width: 300px;
            height: 25px;
        }
    
        #subid {
            width: 100px;
            height: 32px;
        }
    
        .box {
            width: 800px;
            height: 120px;
        }
    
        .null_er {
            width: 100px;
            height: 120px;
        }
    
        a:link {
            text-decoration: underline;
        }
    
        .text_main {
            font-size: 13px
        }
    
        .green_linker {
            font-size: 10px;
            color: green;
        }
        hltext{color:red;}
        mydate{color: grey}
    </style>
</head>

<body>

    <div class="row">
    
        <div class="col-sm-1 page-header">
            <img src="static/images/lrsearch_mini.png" alt="">
        </div>
        <div class="col-sm-6 page-header">
            <div class="row">
                <div class="input-group-lg col-md-10">
                    <input id="query_phrase" type="text" class="form-control" placeholder="Input word or pharse" value= "{% raw query %}">
                </div>
                <div class="btn-group-lg col-md-2">
                    <button id="search" type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <!-- <div class="blog-header">
            <h2 class="blog-title">工作面瓦斯超限应急</h2>
        </div> -->
        <div class="row">
            <div class="col-md-7">

                {% for doc in objs %}
                <!-- <one doc start> -->
                <div>
                    <a href="{{ doc.get_url_ori() }}">
                        <h4 class="blog-post-title " style="color:blue">
                            <u>{% raw doc.get_title_search() %}</u>
                        </h4>
                    </a>
                    <p>{% raw doc.get_labels() %}</p>
                    <p>
                        {% raw doc.get_content_search() %}
                    </p>
                    <p style="color:aquamarine">
                        <a href=" {{ doc.get_url_ori() }}"> {{ doc._id }}</a>
                        <span>{% raw doc.get_grads() %}</span>
                    </p>
                </div>
                <!-- one doc end -->
                {% end %}

            </div>

            <div class="col-md-5">
                <h2 class="blog-post-title">查询时间:{{ timestr }}</h2>

                <div class="blog-post">
                    <h3 class="blog-post-title">当前工作面信息:W15117工作面</h3>
                    <table class="table table-bordered table-striped">
                        
                        <tbody>
                            <tr>
                                <td class="info">工作面类型</td>
                                <td>回采工作面</td>
                                <td class="info">日产量</td>
                                <td>1.2</td>
                            </tr>
                            <tr>
                                <td class="info">采高</td>
                                <td>5.4</td>
                                <td class="info">通风方式</td>
                                <td>U型</td>
                            </tr>
                            <tr>
                                <td class="info">平均倾角</td>
                                <td>6</td>
                                <td class="info">平均埋深</td>
                                <td>490</td>
                            </tr>
                            <tr>
                                <td class="info">走向长度</td>
                                <td>1257</td>
                                <td class="info">工作面长度</td>
                                <td>220</td>
                            </tr>
                            <tr>
                                <td class="info">瓦斯含量</td>
                                <td>9-10</td>
                                <td class="info">绝对瓦斯涌出量</td>
                                <td>83</td>
                            </tr>
                            <tr>
                                <td class="info">透气性数</td>
                                <td>0.175</td>
                                <td class="info">最大瓦斯压力</td>
                                <td>0.4</td>
                            </tr>
                            <tr>
                                <td class="info">普氏系数</td>
                                <td>0.21</td>
                                <td class="info">构造情况</td>
                                <td>简单</td>
                            </tr>
                            <tr>
                                <td class="info">采煤工艺</td>
                                <td>一次采全高综采自动化</td>
                                <td class="info">顶板管理</td>
                                <td>全部垮落法</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="blog-post">
                    <h3 class="blog-post-title">当前矿井基本信息</h3>
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td class="info">煤矿级别</td>
                                <td>国有重点煤矿</td>
                                <td class="info">煤矿类型</td>
                                <td>地下煤矿</td>
                            </tr>
                            <tr>
                                <td class="info">矿井开采方式</td>
                                <td>综合开拓</td>
                                <td class="info">矿井通风方式</td>
                                <td>混合式通风</td>
                            </tr>
                            <tr>
                                <td class="info">煤矿瓦斯等级</td>
                                <td>瓦斯突出矿井</td>
                                <td class="info">从业人员数目</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="info">设计生产能力</td>
                                <td>500</td>
                                <td class="info">实际生产能力</td>
                                <td>500</td>
                            </tr>
                            
                           
                        </tbody>
                    </table>
                </div>
                <!-- /.blog-post -->

                <div class="blog-post">
                    <h3 class="blog-post-title">事故地质水文条件</h3>
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td class="info">地质构造复杂程度</td>
                                <td>地质构造复杂程度中等</td>
                            </tr>
                            <tr>
                                <td class="info">事故水文地质环境</td>
                                <td>本井田基本属水文地质条件简单型</td>
                            </tr>
                
                        </tbody>
                    </table>
                </div>
                <!-- /.blog-post -->
                <!-- /.blog-main -->
                </div>
                    
                </div>
                <!-- /.row -->
                <nav>
                    <ul class="pager">
                        <li>
                            <a href="#">Previous</a>
                        </li>
                        <li>
                            <a href="#">Next</a>
                        </li>
                    </ul>
                </nav>

            </div>
            <!-- /.container -->

            <!-- <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer> -->
<script>
    $("#search").bind("click",
        function (e) {
            query_phrase = $("#query_phrase").val();
            url = "/case_search?q=" + query_phrase;
            // alert(url)
            window.location.href = url;
        }
    )
</script>
</body>

</html>