<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>LRSearch</title>

  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <script src="static/js/jquery-3.2.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/echarts.min.js"></script>
</head>
<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="\home">煤矿瓦斯预警与应急决策支持系统</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Action</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>LRGIS地图</h1>
      <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create
        something more unique by building on or modifying it.This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something
        more unique by building on or modifying it.This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something
        more unique by building on or modifying it.This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something
        more unique by building on or modifying it.This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something
        more unique by building on or modifying it.</p>
    </div>


    <!-- 异常与异常分析部分 -->
    <div class="row">
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">当前综合分析结果:</h3>
          </div>
          <div class="panel-body">
            <div id="gas_summery_event">
              <div id="gas_summery_title">{% raw r1['summery_title'] %}</div>
              <div id="gas_summery_content">{% raw r1['summery_content'] %}</div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-2 "><img src="static/images/right.jpeg"  width="150" height="150" class="img-circle"></div>

      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">断电分析结果:</h3>
          </div>
          <div class="panel-body">
              <div id="ele_content" class="alert alert-danger alert-dismissible fade in" role="alert">
                <h4>{% raw r2['title'] %}</h4>
                <p>{% raw r2['content'] %}</p>
                <p>
                  <button id="elec_sure" type="button" class="btn btn-danger">确定断开</button>
                  <button id="elec_cancel" type="button" class="btn btn-default">取消</button>
                </p>
              </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">正在与控制系统链接...</h4>
        </div>
        <div class="modal-body">
          <img alt="" width="150" height="100" class="img-circle" src="static/images/loading.jpg" /> 正在与控制系统链接,请等待...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

 
<!-- Modal -->
<div class="modal fade" id="ele_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">转发电力控制系统结果</h4>
      </div>
      <div id="ele_sure_response" class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


  <div class="container" role="main">
    <footer class="blog-footer">
      <p>北京大学智慧能源与工程中心
        <a href="http://www.pku.edu.cn">北京大学</a> by
        <a href="https://www.github.com/chenning0115">@charnix</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  </div>

  <script type="text/javascript">
  function hideModal() {
    $('#myModal').modal('hide');
  }

  function showModal() {
    $('#myModal').modal({ backdrop: 'static', keyboard: false });
  }


     function generate_gas_event(e) {
       $.ajax({
         url: "/elec_sure",
         async: true,
         type: "GET",
         data: { },
         beforeSend: function () {
           showModal();
         },
         success: function (data) {
           data = eval("(" + data + ")")
           if (data.status=='ok') {
             document.getElementById("ele_sure_response").innerHTML = data['info'];
             $('#ele_modal').modal('show');
             document.getElementById("ele_content").innerHTML="<h4>"+data['info']+"</h4>"
            //  alert(data.info);
             hideModal();
           } else {
             alert(data);
             hideModal();
           }
         }
       });
      }
      
      $("#elec_sure").bind("click", generate_gas_event)

  
  </script>
</body>

</html>