<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>LRSearch</title>

  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <script src="static/js/jquery-3.2.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/echarts.min.js"></script>
</head>
<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Bootstrap theme</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Action</a>
              </li>
              <li>
                <a href="#">Another action</a>
              </li>
              <li>
                <a href="#">Something else here</a>
              </li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li>
                <a href="#">Separated link</a>
              </li>
              <li>
                <a href="#">One more separated link</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>LRGIS地图</h1>
      <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create
        something more unique by building on or modifying it.This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something
        more unique by building on or modifying it.This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something
        more unique by building on or modifying it.This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something
        more unique by building on or modifying it.This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something
        more unique by building on or modifying it.</p>
    </div>

    <div class="row">
      <div id="main" style="width: 1200px;height:400px;"></div>
    </div>

    <!-- 异常与异常分析部分 -->
    <div class="row">
      <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">当前监测异常状况:</h3>
            </div>
            <div class="panel-body">
              <div id="gas_event"></div>
            </div>
          </div>
      </div>

      <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">依据异常状况综合分析结果:</h3>
        </div>
        <div class="panel-body">
          <div id="gas_summery_event">
            <div id="gas_summery_title"></div>
            <div id="gas_summery_content"></div>
          </div>
        </div>
      </div> 
      </div>
    </div>

    <!-- 开始建议部分 -->
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">当前决策建议:</h3>
          <!-- <button id='suggest_click' class='btn btn-success' type='button'>hahaha</button> -->
        </div>
        <div class="panel-body">
          <div id="gas_suggestion">
            
          </div>
        </div>
      </div>

    </div>

  </div>
  

  <div class="container" role="main">
    <footer class="blog-footer">
      <p>北京大学智慧能源与工程中心
        <a href="http://www.pku.edu.cn">北京大学</a> by
        <a href="https://www.github.com/chenning0115">@charnix</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  </div>


  <script type="text/javascript">
  // echarts
  function draw_gas_line_chart(data) {
    data = eval("(" + data + ")")
    var myChart = echarts.init(document.getElementById('main'));
    myChart.setOption(option = {
      title: {
        text: '实时瓦斯监测与预测',
        subtext: '当前工作面 - W15117',
        x: 'center',
        align: 'right'
      },
      tooltip: {
        trigger: 'axis'
      },
      legend: {
        data: data['mids'],
         x: 'left',
      },
      xAxis: {
        data: data['dates']
      },
      yAxis: {
        splitLine: {
          show: false
        }
      },
      toolbox: {
      },
      visualMap: {
        top: 10,
        right: 10,
        pieces: [{
          gt: 0,
          lte: 0.1,
          color: '#096'
        }, {
          gt: 0.1,
          lte: 3.0,
          color: '#ffde33'
        }],
        outOfRange: {
          color: '#999'
        }
      },
      series: [{
        name: '044A02',
        type: 'line',
        data: data['044A02'],
        markLine: {
          silent: true,
          data: [{
            yAxis: 0.1
          }, {
            xAxis: data['cur_date']
          },]
        }
      },
      {
          name: '044A03',
          type: 'line',
          data: data['044A03'],
      },
      {
          name: '009A13',
          type: 'line',
          data: data['009A13'],
      },
      {
          name: '044A11',
          type: 'line',
          data: data['044A11'],
      },
        ]
    });
  }
  function draw_gas_line_chart_timeinter() {
    $.get('/get_gas_monitor_data', draw_gas_line_chart)
  }
  setInterval("draw_gas_line_chart_timeinter()", "1000");
  </script>


  <script type="text/javascript">
    function generate_gas_event(data) {
      data = eval("(" + data + ")")
      if(data['update']==true){
          // alert(data)
          document.getElementById("gas_event").innerHTML = data['content'];
          document.getElementById("gas_summery_title").innerHTML = data['summery_title'];
          document.getElementById("gas_summery_content").innerHTML = data['summery_content'];
      }
    }
   

    function get_gas_suggestion(data) {
      data = eval("(" + data + ")")
      if (data['update'] == true) {
        // alert(data)
        document.getElementById("gas_suggestion").innerHTML = data['content'];
      }
    }

     function generate_gas_event_timeinter() {
        $.get('/get_gas_analysis_event', generate_gas_event)
        $.get('/get_gas_suggestion', get_gas_suggestion)
      }

    setInterval("generate_gas_event_timeinter()", "1000");

    function suggest_func() {
      base_url = '/suggest_event?sug_id='
      sug_id = $("#suggest_click").attr("sug_id")
      url = base_url + sug_id
      $.get(url)
      // alert('hahahah')
    }
  </script>
</body>

</html>